.btn-content {
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    .btn {
        border: 0;
        padding: 1rem 2rem;
        border-radius: 3px;
        font-weight: 700;
        cursor: pointer;
    }

    .btn-primary {
        background-color: var(--primary);
        color: white;

        &:hover {
            box-shadow: var(--box-shadow);
            transition: box-shadow 0.2s;
        }
    }

    .btn-secondary {
        background-color: white;
        border: 1px solid var(--primary);
        color: var(--primary);
        margin: 0 2rem 0 0;

        &:hover {
            box-shadow: var(--box-shadow);
            transition: box-shadow 0.2s;
        }
    }


}