.contenaire {
    min-height: 100vh;
    display: grid;
    grid: "header" auto "section" 1fr "footer" auto / auto;
    background-color: #f1f2f6;
    section {
        grid-area: section;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            width: 50%;
            max-width: 60rem;
            border: 1px solid var(--divider);
            box-shadow: var(--box-shadow);
            border-radius: 5px;
            padding: 3rem 6rem;
            font-size: 1.6rem;
            background-color: #ffffff;

            .title-form {
                padding-bottom: 1rem;
                border-bottom: 1px solid var(--primary);
                margin-bottom: 1.5rem;
            }

            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 1.5rem;
                font-weight: 700;

                label {
                    margin-bottom: 0.5rem;
                }

                input,
                textarea {
                    border-radius: 5px;
                    border: 1px solid #dfe4ea;
                    outline: none;

                    &:focus {
                        border-color: var(--accent);
                    }
                }

                input {
                    min-height: 2.5rem;
                }
                [type="file"]{
                    border: none;
                }
                input::file-selector-button {
                    background-color: #a4b0be;
                    padding: 1rem 2rem;
                    font-size: 1.6rem;
                    border: none;
                    border-radius: 3px;
                    color: white;
                    font-weight: 700;
                    cursor: pointer;
                }

                textarea {
                    min-height: 20rem;
                }
            }
        }
    }

    footer {
        grid-area: footer;
    }
}